.wpp-button {
  cursor: pointer;
  border: none;
  width: 240px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #48B04F;
  box-shadow: 3px 3px 10px 1px rgba(59, 59, 59, 0.20);
  display: inline-block;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'roboto';
}

.wpp-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.wpp-button span {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wpp-container {
  position: absolute;
  top: 85%;
  right: 85%;
}