html, body {
  height: 100%;
  margin: 0;
  background: #EDEDED;
  font-family: 'roboto';
}

#__next {
  height: 100%;
}

.main-content-pages-container {
  height: 100%;
  border-radius: 55px 0px 0px 55px;

}

.main-content-pages{
  margin-top: 60px
}

.user-layout-container {
  height: 100%;
}