.order-preparation-container {
  margin-bottom: 30px;
  margin-top: 20px;
  overflow: auto;
}

.order-preparation-suggestions-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.product-list-suggestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-preparation-title-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.order-preparation-main-title {
  font-weight: 700;
  font-size: 18px;
  color:#936565;
  margin-right: 5px;
}

.day-order-selector-textfield div{
  border-radius: 15px;
}

.suggestion-container {
  margin: 20px;
  min-width: 350px;
  background-color: white;
  border-radius: 3%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.product-card-suggestion-container {
  max-width: 200px;
  border-radius: 11px;
  margin: 20px;
  display:inline-block;
  text-align: center;
}

.product-suggestion-image {
  border-radius: 11px;
  border: 2px solid #FFE8E8;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  flex-shrink: 0;
}

.product-suggestion-title {
  font-size: 15px;
  font-weight: 600;
  color:#936565;
}

.suggestion-title-data {
  margin-left: 5px;
  font-size: 15px;
  color:white;
  background-color: #936565;
  padding: 5px;
  border-radius: 5px;
}

.suggestion-title-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion-title {
  font-size: 16px;
  font-weight: bold;
  color:#5b4141
}

.order-prep-message {
  font-size: 16px;
  font-weight: bold;
  color:#5b4141
}

.order-prep-message-info {
  font-size: 16px;
  color:#331818;
  max-width: 200px;

  background-color: #e0d500;
  padding: 10px;
  border-radius: 10px;
}

.info-container {
  margin: 40px 0;
  display: inline-block;
}