.add-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.ingredient-card {
  background-color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.action-button {
  margin-right: 15px;
  border-color: rgba(216, 130, 130, 0.166);
}

.action-button:hover{
  border-color: rgba(216, 130, 130, 0.777);
  background-color: rgba(216, 130, 130, 0.325);
}

.ingredient-main-title {
  margin-bottom: 30px;
  font-weight: bold;
  color: rgb(64, 48, 48);
}

.stock-info-container-decrease {
  margin: 10px 0;
}

.stock-info-decrease{
  font-weight: bold;
  color: rgb(162, 98, 98);
  margin-bottom: 10px;
}

.textfield-decrease-amount-container {
  display: inline-block;
  min-width: 180px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.textfield-decrease-unit-selector-container {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.decrease-container {
  position: relative;
  height: 100px;
  width: 100%;
}