.user-settings-menu-container {
  position: absolute;
  left: 85%;
  top: 2%;
  color: #533b2d;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.user-name-container {
  color: #7F7F7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
  white-space:nowrap;
}
.user-name-container-login {
  color: #533b2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 5px;
  white-space:nowrap;
  cursor: pointer;
}


.user-icon {
  color: #533b2d;
  margin-left: 15px;
}

.user-icon svg {
  font-size: 50px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 10;
}

.dropdown-item {
  display: flex; /* Use flex display to align items horizontally */
  align-items: center; /* Align items vertically in the middle */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}