.admin-layout-container {
  margin: 40px;
  font-family: 'roboto';
}

html {
  background-color: #f1e5d5;
}

body {
  margin: 0;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  left: 45%;
  height: 60px;
}

.title-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.icon-title{
  margin-right: 10px;
}