.user-menu-container {
  background-color: white;
  height: 100%;
  font-family: 'roboto';
}

.user-menu-selector-container {
  height: 64px;
  width: 100%;
  margin-top: 20px;
}

.user-menu-selector-container-selected {
  height: 64px;
  width: 100%;
  margin-top: 20px;
  background: #FFE9EE;
}

.user-menu-selector {
  color: var(--color-5, #1E265E);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.4000000059604645;
}
.user-menu-selector-selected {
  color: #A95C5C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8999999761581421;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.list-item-content-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
}